{% load static %}
{% load type_filter %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% for item in items %}
                <div class="feed-item {{ item.type }}"
                     onclick="window.location.href='{% url 'news_detail' news_id=item.id %}';">

                    {% if item.img_url == "" %}
                        <div class="text-holder-noimage col-3-5">
                            <!--title-->
                            <div class="feed-title">{{ item.title }}</div>
                            <!--description-->
                            <div class="feed-description">{{ item.describe|truncatechars:70 }}
                            </div>
                        </div><!--End of Text Holder-->
                    {% else %}
                        <div class="img-holder col-1-5">
                            <img src="{{ item.img_url }}" alt="" class="image">
                        </div>
                        <div class="text-holder col-3-5">
                            <div class="feed-title">{{ item.title }}</div>
                            <div class="feed-description">{{ item.describe|truncatechars:70 }}
                            </div>
                        </div><!--end of text-holder-->
                    {% endif %}

                    <div class="feed-meta"><span class="single"><i
                            class="fa fa-tags"></i> {{ item.type|type_judge }}</span><span
                            class="single"><i class="fa fa-clock-o"></i> {{ item.pub_date|date:"Y-m-d" }}</span>
                    </div>
                </div><!--End of Feed Item-->


            {% endfor %}
{#</body>#}
{#</html>#}