/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* { /* Reset */
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #EDEDED;
    font-family: '黑体', serif;
    color: #222;
}

h1 {
    font-family: '黑体', serif;
    font-weight: 400;
    font-size: 1.2em;
}

#apptitle {
    width: 60%;
    margin-left: 10px;
    float: left;
}

.navoverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    transition: opacity .1s;
}

.allholder {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

.nav {
    margin-left: -100%;
    width: 240px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 60;
    transition: margin-left 0.3s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.nav .centered {
    text-align: center;
    border-bottom: 1px #EDEDED solid;
}

#logo-center img {
    transition: .15s;
    opacity: 1;

}

.nav li {
    font-family: 'Roboto', san-serif;
    list-style-type: none;
    padding: 15px;
    margin-left: -40px;
}

.fa-caret-down {
    float: right;
}

.selected {
    background: #F0F0F0;
}

.nav li a {
    color: #AAA;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .2px;
    transition: .15s;
    padding-left: 15px;
}

.nav li a:hover {
    color: #555 !important;
}

#dropdown-con {
    display: none;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#search input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search input[type=search]:hover {
	background-color: #fff;
}
#search input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search input:-moz-placeholder {
	color: transparent;
}
#search input::-webkit-input-placeholder {
	color: transparent;
}
.selected a {
    color: #222 !important;
}

.credit {
    font-size: 13px;
    font-weight: 100;
    left: 27px;
    position: absolute;
    bottom: 10px;
    background: #fff;
    opacity: 0.7;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.credit span {
    display: block;
    color: #999;
    text-align: center;
    font-size: .9em;
    font-weight: 500;
    margin: auto;
}

.toolbar { /*Second Top Bar*/
    color: #FFF;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 48px;
    background: #E53935;
    z-index: 50;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: top;
}

.toolbar .tools {
    padding-top: 15px;
    position: fixed;
    right: 20px;
}

.toolbar .tools ul {
    list-style-type: none;
}

.toolbar .tools ul li {
    display: inline;
    padding-left: 2px;
}

.toolbar #hamburger {
    float: left;
    visibility: visible;
    padding: 15px;
}

#search, #settings, #hamburger, #postsettings {
    color: #FFF;
    cursor: pointer;
}

#content {
    margin: 75px auto 0 180px;
    width: 70%;
}

.boxes {
    margin: 110px auto 0 300px;
    width: 60%;
}

[class*='col-'] { /* Targets anything with 'col-' */
    float: left;
}

.col-1-1 {
    width: 100%;
    height: 240px;
}

.col-1-3 {
    width: 33.333%;
    height: 240px;
}

.col-1-2 {
    width: 50%;
    height: 240px;
}

.col-1-5 {
    width: 5%;
}

.filters {
    position: fixed;
    background: white;
    width: 150px;
    z-index: 10;
    right: -100%;
    top: 60px;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.filters ul li {

    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    list-style-type: none;
    margin: 0 0 0 -40px;
    border-bottom: 1px solid #DEDEDE;
}

.feed {
    padding-top: 10px;
    margin-left: 85px;
}

.feed-item {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    background: white;
    padding-left: -100px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: 0.7s;

}

.feed-item .img-holder {
    width: 80px;
    float: left;
    margin: 21px 20px 0 22px;
}

#bottom {
    display: none;
    font-size: 1em;
    color: #999999;
    opacity: 0.7;
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
}

/* start da css for da buttons */
.theme-btn {
    position: relative;
    background-color: #E53935;
    border: none;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    color: #FFFFFF;
    font-family: 黑体;
}

.theme-btn:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #97B1BF;
    color: #000;
}

.theme-btn:after {
    content: "";
    background: #E53935;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.theme-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/*暂时用不到*/
.feed-item .img-holder .icon {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    float: left;
    background-image: url('https://lh3.googleusercontent.com/-Az9OhFIaxEY/AAAAAAAAAAI/AAAAAAAAAAA/iHtDLHxQMFc/photo.jpg');
    background-size: 55px 55px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.feed-item .img-holder .image {
    width: 85px;
    height: 60px;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.feed-item .text-holder {
    margin-top: 22px;
    width: 85%;
    float: left;
}

.feed-item .feed-meta {
    margin-top: 18px;
    float: right;
    color: #999999;
}

.feed-item .single {
    margin: 10px;
}

.text-holder-noimage {
    margin-top: 22px;
    width: 85%;
    float: left;
    margin-left: 7%;
}

.feed-description {
    font-family: "微软雅黑", "黑体", "宋体";
    font-size: .9em;
    font-weight: 300;
    color: #999;
    height: 2.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-title {
    font-size: .9em;
    font-weight: 500;
    width: auto;
    overflow: hidden; /*超出部分隐藏*/
    white-space: nowrap; /*不换行*/
    text-overflow: ellipsis;
}

.feed-meta {
    font-family: "微软雅黑", "黑体", "宋体";
    font-size: .7em;
    font-weight: 100;
}

.news {
    overflow: hidden;
}

.notices {
    overflow: hidden;
}

@media all and (min-width: 1000px) {
    .nav {
        margin-left: 0px !important;
    }

    .bodyholder {
        position: relative;
        padding-left: 240px;
    }

    .toolbar #hamburger {
        visibility: hidden;
    }

    #activityform {
        width: 50%;
        margin-left: 30%;
    }

}

@media all and (max-width: 1000px) {
    body {
        background: #;
    }

    .col-1-3 {
        width: 100%;
    }

    .feed-item {
        margin-left: 0px;
        margin-bottom: 10px;
        box-shadow: none;
    }

    .feed {
        margin-top: -2px;
        margin-left: 0;
    }

    .boxes {
        margin: 110px auto 0 auto;
        width: 0%;
    }

    #content {
        margin: 50px auto 50px auto;
        min-width: 300px;
        width: 100%;

    }

    #activityform {
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
    }

}

@media all and (max-width: 560px) {
    .feed-item .text-holder {
        width: 70%
    }
}

@media all and (max-width: 470px) {
    .feed-item .text-holder {
        width: 60%
    }
}

@media all and (max-width: 360px) {
    .feed-item .text-holder {
        width: 50%
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

